<config>
	<modules>
			<BabyPlanet_Performa>
				<version>0.1.0</version>
			</BabyPlanet_Performa>
	</modules>
	
	<frontend>
		<routers>
			<performa>
					<use>standard</use>
					<args>
						<module>BabyPlanet_Performa</module>
						<frontName>performa</frontName>
					</args>
			</performa>
		</routers>
		
		<layout>
            <updates>
                <performa>
                    <file>performa.xml</file>
                </performa>
            </updates>
        </layout>
	</frontend>
	
</config>
