<?xml version="1.0"?>
<config>
    <modules>
        <BabyPlanet_Popbox>
            <version>0.1.0</version>
        </BabyPlanet_Popbox>
    </modules>
    <frontend>
        <routers>
            <popbox>
                <use>standard</use>
                <args>
                    <module>BabyPlanet_Popbox</module>
                    <frontName>popbox</frontName>
                </args>
            </popbox>
        </routers>
        <layout>
            <updates>
                <popbox>
                    <file>popbox.xml</file>
                </popbox>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <popbox>
                <use>admin</use>
                <args>
                    <module>BabyPlanet_Popbox</module>
                    <frontName>popbox</frontName>
                </args>
            </popbox>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <popbox module="popbox">
                <title>BabyPlanet</title>
                <sort_order>71</sort_order>               
                <children>
                    <items module="popbox">
                        <title>Manage Items</title>
                        <sort_order>1</sort_order>
                        <action>popbox/adminhtml_popbox</action>
                    </items>
                </children>
            </popbox>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <popbox>
                            <title>Popbox Module</title>
                            <sort_order>200</sort_order>
                        </popbox>
                    </children>
                </admin>
            </resources>   
        </acl>
        <layout>
            <updates>
                <popbox>
                    <file>popbox.xml</file>
                </popbox>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <popbox>
                <class>BabyPlanet_Popbox_Model</class>
                <resourceModel>popbox_mysql4</resourceModel>
            </popbox>
            <popbox_mysql4>
                <class>BabyPlanet_Popbox_Model_Mysql4</class>
                <entities>
                    <popbox>
                        <table>popbox</table>
                    </popbox>
		    <popboxUser>
                        <table>popboxUser</table>
                    </popboxUser>
                </entities>
            </popbox_mysql4>
        </models>
        <resources>
            <popbox_setup>
                <setup>
                    <module>BabyPlanet_Popbox</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </popbox_setup>
            <popbox_write>
                <connection>
                    <use>core_write</use>
                </connection>
  
  
            </popbox_write>
            <popbox_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </popbox_read>
        </resources>
        <blocks>
            <popbox>
                <class>BabyPlanet_Popbox_Block</class>
            </popbox>
        </blocks>
        <helpers>
            <popbox>
                <class>BabyPlanet_Popbox_Helper</class>
            </popbox>
        </helpers>
    </global>
</config>
